.Typography {
  color: currentColor;
}

.heading1 {
  @include h1();
}

.heading2 {
  @include h2();
}

.heading3 {
  @include h3();
}

.heading4,
.heading5,
.heading6 {
  @include h4();
}

.paragraph {
  @include paragraph();
}

.heading1.hasMargin,
.heading2.hasMargin,
.heading3.hasMargin,
.heading4.hasMargin,
.heading5.hasMargin,
.heading6.hasMargin,
.paragraph.hasMargin {
  @include addTextMargin();
}

.uppercase {
  text-transform: uppercase;
}

.zeroLineHeight {
  line-height: 1;
}

.secondary {
  color: $secondaryTextColor;
}
