.container {
  max-width: #{$containerMaxWidth}px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: span(2);
  margin-right: gutter();
  margin-bottom: gutter();
  background-color: gray;
  outline: 1px solid red;
  @include disableLastMargin(right);
  @include disableNthMargin(6n, right);
}

.input {
  @include placeholder(red);
}
