.ExampleHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bgSecondaryColor;
  min-height: $headerHeight;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}

.logo {
  cursor: pointer;
}
