.ExamplePostsSection {
  width: 980px;
  margin: 0 auto 20px auto;
  padding: 20px;
  background-color: #f5eeee;

  .searchInputWrapper {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .searchInput {
    display: block;
    width: 100%;
  }

  .post {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed black;
  }
}
