// durations
$duration: 0.35s;

// fonts
$fontFamily: 'Roboto', Arial, Helvetica, sans-serif;
$brandFamily: 'Bebas', Arial, Helvetica, sans-serif;
$fontSize: 16px;
$fontSizeSmaller: 14px;
$fontSizeExtraSmall: 12px;
$lineHeight: (24 / 16);

// colors
//$colors = json('../../config/colors.json', { hash: true })
//for $name, $color in $colors {
//	define('$' + $name + 'Color', $color)
//}

// media queries
//$breakpoints = json('../../config/breakpoints.json', { hash: true })
//for $name, $breakpoint in $breakpoints {
//	define('$' + $name, get-max-width($breakpoint))
//	define('$' + $name + 'WithoutVerticalTablet', get-min-and-max-width($breakpoints.verticalTablet+1, $breakpoint))
//	define('$' + $name + 'WithoutPhone', get-min-and-max-width($breakpoints.phone+1, $breakpoint))
//}
//$withoutVerticalTablet = get-min-width($breakpoints.verticalTablet+1);
//$withoutPhone = get-min-width($breakpoints.phone+1);

// grid
//$phoneSpaceX = 10px
//$columns = 12
//$grid = json('../../config/grid.json', { hash: true })