// Breakpoints
$desktop: 1440px;
$laptop: 1280px;
$tablet: 1024px;
$phone: 768px;
$phoneXs: 321px;

// Grid params
$columnsCount: 12;
$gutterSize: 32;
$containerMaxWidth: 1280px;

// Media queries
@mixin createMediaQuery($maxWidth) {
  @media all and (max-width: ($maxWidth - 1px)) {
    @content;
  }
}

@mixin onDesktop {
  @include createMediaQuery($desktop) {
    @content;
  }
}

@mixin onLaptop {
  @include createMediaQuery($laptop) {
    @content;
  }
}

@mixin onTablet {
  @include createMediaQuery($tablet) {
    @content;
  }
}

@mixin onPhone {
  @include createMediaQuery($phone) {
    @content;
  }
}

@mixin onPhoneXs {
  @include createMediaQuery($phoneXs) {
    @content;
  }
}

// Grid
@mixin setGridLayout($columnsCount, $gutterSize, $containerMaxWidth) {
  display: grid;
  grid-template-columns: repeat($columnsCount, 1fr);
  column-gap: calc(#{$gutterSize} * 100% / #{$containerMaxWidth});
}

@mixin grid {
  @include setGridLayout($columnsCount, $gutterSize, $containerMaxWidth);
}
