// Placeholder color
@mixin placeholder($color) {
  &::placeholder {
    color: $color;
    opacity: 1;
  }
}

// Font smoothing
@mixin smoothFont {
  -webkit-font-smoothing: antialiased;
}

// Faster transition
@mixin faster {
  transition-duration: ($duration / 2);
}

// Clearfix
@mixin clearfix {
  &:after {
    display: block;
    content: '';
    height: 0;
    overflow: hidden;
    clear: both;
  }
}

// Fullsize
@mixin fullsize {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

// Font-face
@mixin webfont($family, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: local($family), url($path) format('woff'), url($path) format('woff2');
  }
}

// Cursor grab
@mixin cursorGrab {
  cursor: move;
  cursor: grab;
}

// Cursor grabbing
@mixin cursorGrabbing {
  cursor: move;
  cursor: grabbing;
}

// Utils
@mixin textOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin imgResponsive {
  max-width: 100%;
  height: auto;
}

@mixin bg($position: 50% 50%) {
  background-position: $position;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin sub {
  vertical-align: sub;
  font-size: 60%;
}

@mixin sup {
  vertical-align: super;
  font-size: 60%;
}

// Typography
@mixin addTextMargin($margin: 16px) {
  margin-bottom: $margin;
}

@mixin typography($size, $fontWeight: normal, $hasMargin: false) {
  font-size: $size;
  font-weight: $fontWeight;

  @if $hasMargin {
    @include addTextMargin();
  }
}

@mixin h1($hasMargin: false) {
  @include typography($fontSize + 20px, $extraBold, $hasMargin);
}

@mixin h2($hasMargin: false) {
  @include typography($fontSize + 16px, $bold, $hasMargin);
}

@mixin h3($hasMargin: false) {
  @include typography($fontSize + 8px, $bold, $hasMargin);
}

@mixin h4($hasMargin: false) {
  @include typography($fontSize + 2px, $bold, $hasMargin);
}

@mixin paragraph($hasMargin: false) {
  @include typography($fontSize, $regular, $hasMargin);
}

@mixin link($color, $activeColor) {
  &,
  &:hover,
  &:active,
  &:visited {
    color: $color;
    text-decoration: none;
  }

  &:active,
  &:hover {
    color: $activeColor;
  }
}
