/*--------------------------------------------------------------
# Global app styles
--------------------------------------------------------------*/
// Load fonts
@include webfont($fontFamily, 'assets/fonts/OpenSans/OpenSans-Light.woff', $light);
@include webfont($fontFamily, 'assets/fonts/OpenSans/OpenSans-Regular.woff', $regular);
@include webfont($fontFamily, 'assets/fonts/OpenSans/OpenSans-Bold.woff', $bold);
@include webfont($fontFamily, 'assets/fonts/OpenSans/OpenSans-ExtraBold.woff', $extraBold);

// Common styles
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: $bgColor;
  color: $textColor;
  font: {
    weight: $regular;
    size: $fontSize;
    family: $fontFamily, $fallbackFont;
  }
  line-height: $lineHeight;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  @include smoothFont;
}

a {
  @include link($linkColor, $linkColorActive);
}
